body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--16);
    -webkit-text-size-adjust: 100%;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    img {
        height: calc(var(--16)*4);
        width: auto;
        display: inline-block;
    }
}